{% block nav %}
    <nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-navbar-center">

            <div class="uk-navbar-center-left"><div>
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        {% if is_granted("ROLE_MEMBER") %}
                        <li class="uk-nav-header"> {{ app.user.email}}</li>
                        <li>
                            <a href="#">Mon Profil</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-active"><a href=" {{ path("app_login")}} ">Logout</a></li>
                                    {% else %}
                                    <li><a href=" {{ path("app_register") }} ">S'inscrire</a></li>
                                    <li><a href="{{ path("app_login") }}">Login</a></li>
                                </ul>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div></div>
            <a class="uk-navbar-item uk-logo" href="{{ path("app_home")}}">MUSEE CCI</a>
            <div class="uk-navbar-center-right"><div>
                    <ul class="uk-navbar-nav">
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
    </nav>
{% endblock %}